
*,
*::before,
*::after {
	box-sizing: border-box;
}
.ui-mini{
	margin:0;
}

.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a{

}

.ui-rangeslider .ui-slider-input.ui-rangeslider-last{
	float: right;
}
.ui-rangeslider .ui-rangeslider-sliders{
	margin: -10px 0 0;
}
.wowo{
	width: 240px;
	margin-left: 100px;
}
.ui-slider-track.ui-mini{
	height:4px;
}

html >body .ui-rangeslider.ui-mini .ui-rangeslider-sliders .ui-slider-track:first-child{
	height:4px;
}
.ui-slider-track.ui-mini{
	background: #d3d3d3;
	border:0px;
}
.ui-slider-track .ui-btn.ui-slider-handle{
	background: #24133d;
	border-radius: 50%;
	border:0px;
	box-shadow: none;
}
.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a{
	border-radius:initial;
	border:0px;
	box-shadow:none;
	width: 100px;	
}
.ui-page-theme-a .ui-btn.ui-btn-active, html .ui-bar-a .ui-btn.ui-btn-active, html .ui-body-a .ui-btn.ui-btn-active, html body .ui-group-theme-a .ui-btn.ui-btn-active, html head+body .ui-btn.ui-btn-a.ui-btn-active, .ui-page-theme-a .ui-checkbox-on:after, html .ui-bar-a .ui-checkbox-on:after, html .ui-body-a .ui-checkbox-on:after, html body .ui-group-theme-a .ui-checkbox-on:after, .ui-btn.ui-checkbox-on.ui-btn-a:after, .ui-page-theme-a .ui-flipswitch-active, html .ui-bar-a .ui-flipswitch-active, html .ui-body-a .ui-flipswitch-active, html body .ui-group-theme-a .ui-flipswitch-active, html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active, .ui-page-theme-a .ui-slider-track .ui-btn-active, html .ui-bar-a .ui-slider-track .ui-btn-active, html .ui-body-a .ui-slider-track .ui-btn-active, html body .ui-group-theme-a .ui-slider-track .ui-btn-active, html body div.ui-slider-track.ui-body-a .ui-btn-active{
	background: #39c6c3;
}